{%- comment -%}
  GENERIC PAGE TEMPLATE
  Used for static pages like About Us, Contact, Delivery, Privacy Policy, etc.
{%- endcomment -%}

<div class="page-content">
  <h1>{{ page.title }}</h1>
  {{ page.content }}
</div>
